LeagueService/Site/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GetChamps" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GetChamps" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Summoner">
    <xs:sequence>
      <xs:element minOccurs="0" name="iconURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileIconId" type="xs:int" />
      <xs:element minOccurs="0" name="revisionDate" type="xs:long" />
      <xs:element minOccurs="0" name="summonerLevel" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Summoner" nillable="true" type="tns:Summoner" />
</xs:schema>